{% extends "base.html.twig" %}



{% block title %}E-commerce{% endblock %}

{% block body %}

<section class="categories-composantpc">
    <div class="container-fluid">
     <div class="row justify-content-center">
        
        <div class="block-composantpc">
            <div class="title-1"><h2 class="titre-informatique">nos catégories informatique :</h2></div>
                <ul class="list-cate">
                    <li class="list-compo"><img class="img-position" src="{{asset('image/informatique/composantpc/boitier.jpg')}}">Boîtier</li>
                    <li class="list-compo">Boîtier</li>
                    <li class="list-compo">Boîtier</li>
                    <li class="list-compo">Boîtier</li>
                    <li class="list-compo">Boîtier</li>
                    <li class="list-compo">Boîtier</li>
                    <li class="list-compo">Boîtier</li>
                    <li class="list-compo">Boîtier</li>
                    <li class="list-compo">Boîtier</li>
                </ul>
        </div>

     </div>
    </div>
</sectrion>
{% endblock %}